label, input[type="radio"] {
  display: inline;
}

#wrapper {
	margin: 5em;
	text-align: center;
}

#converted {
	text-align: center;
}

#clear {
	margin-left: 1em;

}

.margin-top-space {
	margin-top: 1em;
}